<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrsoftit.timlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timlife">
        <activity android:name=".AlreadyApplied"></activity>
        <activity android:name=".TermsAndCondition" />
        <activity android:name=".Second_welcomePage" />
        <activity android:name=".WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity android:name=".BonusReward" />
        <activity android:name=".LoanRequestReceived" />
        <activity android:name=".LoanDetails" />
        <activity android:name=".PurposeLoan" />
        <activity android:name=".Identification" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>